h1 {
    color: white;
    background-color: black;
    text-align: center;
}

body {
    margin: 2rem;
    background-color: burlywood;
}

h2,
h3 {
    display: inline;
}

.h2-heading {
    text-transform: capitalize;
    display: block;
}

h5 {
    color: red;
    padding: 1rem;
}

h4 {
    color: red;
    text-transform: uppercase;
}